/* #d3e2ec */
[data-listtitle="Project"] .page-content {
	height:calc(100% - 56px);
}

.view-main [data-listtitle="Project"].page-current .page-footer {
    position: absolute;
    z-index: 1;
    top: calc(100% - 56px);
    width: 100%;
    height: 56px;
    transition: top 800ms ease-out 0s;
}

[data-listtitle="Project"].hasProjectSelected .page-content {
	height: calc(88px + 36px + 36px);
}

.view-main [data-listtitle="Project"].hasProjectSelected.page-current .page-footer {
    position: absolute;
    z-index: 1;
    top: calc(88px + 36px + 36px);
    width: 100%;
    height: calc(100% - 88px - 36px - 36px);
}

.view-main [data-listtitle="Project"].hasProjectSelected.page-current .list-item-row {
    display: none;
}

.view-main [data-listtitle="Project"].hasProjectSelected.page-current .list-item-row.not-hidden {
    display: block;
}

.view-main [data-listtitle="Project"] .list {
    margin: 0 !important;
}

.view-main [data-listtitle="Project"].hasProjectSelected .list {
    overflow-x: hidden;
    overflow-y: visible;
    height: auto !important;
}

.view-main [data-listtitle="Project"].page-current .page-footer .tabs {
    height: calc(100% - 62px);
}

.view-main [data-listtitle="Project"].page-current .page-footer .row {
    height: calc(100% - 5px);
}

.view-main [data-listtitle="Project"].page-current .page-footer .row > div, 
.view-main [data-listtitle="Project"].page-current .page-footer .tab, 
.view-main [data-listtitle="Project"].page-current .page-footer .ms-EFWTableList,
.view-main [data-listtitle="Project"].page-current .page-footer .ms-EFWTableList .data-table {
    height: 100%;
    overflow: hidden;
}

.view-main [data-listtitle="Project"].page-current .page-footer .ms-EFWTableList .ms-Form-Title {
	display: none;
}

.popup .ms-FormField.editable {
    float: left !important;
    width: 95% !important;
 }

[data-internalname="Functional"] { /* datatable width */
    width: 70% !important;
}

.popup .ms-FormField.editable[data-field-internalname="Functional"] {
    width: 95% !important;
}

.popup .ms-FormField.editable[data-field-internalname="Created"] {
    display: none !important;
}

[data-internalname="ID"], [data-field-internalname="ID"] {
    display: none;
}

.tab3 .data-table-actions .button span,
.tab3 .data-table-title-selected {
    display: none;
}

.tab3 .button {
    padding: 0px 7px;
}

.theme-switcher {
    display: block;
    position: absolute;
    top: 111px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

.view-main [data-listtitle="Project"].page-current .page-footer .ms-EFWTableList .data-table .card-content {
    height: calc(100% - 54px);
    overflow: auto;
}

.view-main [data-listtitle="Project"].page-current .page-footer .tab3 [data-internalname="TaskStatus"] {
    display: none;
}

@media (max-width: 1023px) {
    .tab3 .row > div {
        height: 350px !important;
    }

    .tab3 .row {
        overflow-y: auto !important;
    }
}

@media (min-width: 1024px) {
    .tab3 {
        overflow-x: scroll !important;
    }

    .tab3 .row {
        width: 127%;
    }
}

.button.button-fill.close-popup{
    color: #fff;
    background: #9E9E9E;
    border: 1px solid #9E9E9E;
    border-color: transparent;
    margin-left: 10px !important;
}

 .ios .send-email-popup .close-button{
     width: 40px;
     height: 40px;
     position: absolute;
     right: 0px;
     text-align: center;
     z-index: 2;
     line-height: 40px;
     cursor: pointer;
 }
 .ios .send-email-popup2 .close-button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    z-index: 2;
    line-height: 40px;
    cursor: pointer;
}

.ios .search-popup .close-button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    text-align: center;
    z-index: 2;
    line-height: 40px;
    cursor: pointer;
}
 
.buttons-container .button{
     width: 280px;
     display: inline-block;
 }

.button.button-fill.send {
    margin-right: 10px !important;
    margin-left: 10px;
}

.popup.send-email-popup.modal-in {
    height: 400px ;
}
.popup.send-email-popup2.modal-in {
    height: 290px;
}

.popup.send-email-popup2.modal-in {
    height: 260px !important;
}

.popup.search-popup.modal-in {
    height: 230px !important;
}

/* .popup.send-email-popup.modal-in.approval {
    height: 3 !important;
    max-width: 70% !important;
    width: 50px;
}

.popup .send-email-popup .modal-in {
    height: 3 !important;
    max-width: 70% !important;
    width: 50px;
}

.page[data-page="indexPage"] .promo-image {
    width: 200px !important;
    height: 150px !important;
}

.ios .list .item-media {
    color:#8EBD00 !important;
}

.dialog-button{
    background-color: #8EBD00 !important;
} */


/* Resize logo */
.page[data-page="indexPage"] .promo-image {
    height: 100px !important;
    width: 170px !important;
    margin: 20px auto 16px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    cursor: pointer !important;
}

/* Colores definitivos*/ 
.ios .ms-Icon {
    color: #8EBD00 !important;
}

.ios .color-theme-red label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.ios .color-theme-red .checkbox input[type="checkbox"]:checked ~ i {
  background: #8EBD00 !important;
}

.ios .color-theme-red .button.button-fill,
.ios .color-theme-red .button.button-fill-ios {
  background: #8EBD00 !important;
  border-color: transparent;
}

.ios .dialog-button{
    background-color:#8EBD00 !important;
}

.ios .list {
    margin: 5px 0 !important;
    font-size: 17px;
  }


/* Tabla de items variables */

.table-compact-row .not-editable .ms-TextField.required-field .ms-Label::after{
    display: unset;
}
 
.table-compact-row .ms-EnvisionSerializeForm-row:first-child .ms-Form-container .ms-Label::after{
    content: ' *';
    color: red;
}
 
.table-compact-row .ms-Form-header {
    /* display: none; */
    /* display: flex; */
    float: right;
    /* margin-bottom: -50px; */
    /* margin-left: -42px; */
    /* margin-right: 50px; */
    margin-top: 5px;
    position: absolute;
    right: -82px;
}
 
.table-compact-row .ms-Form-container {
    white-space: normal;
}
 
.table-compact-row .ms-EnvisionSerializeForm-row:last-child .ms-Form-content {
    /* padding-right: 0; */
    border-right: initial !important;
}
 
.table-compact-row .ms-Form-content {
    border-left: 1px solid #ddddde !important;
    /* border-right: 1px solid #ddddde !important; */
    padding-left: 0 !important;
    /* border-top: 1px solid #ddddde !important; */
    border-left: 1px solid #ddddde !important;
    /* border-right: 1px solid #ddddde !important; */
    padding-left: 0 !important;
    display: table-caption;
}
 
.table-compact-row .ms-TextFields-wrapper {
    display: flex;
}
 
.table-compact-row .ms-EnvisionSerializeForm-row:last-child .ms-FormField {
    border-bottom: 1px solid #dddddb;
    /* border-top: 1px solid #dddddb; */
    border-right: 1px solid #ddddde;
    /* padding: 5px 4px 5px 4px; */
}
 
.table-compact-row .ms-FormField {
    border-top: 1px solid #dddddb;
    border-right: 1px solid #ddddde !important;
    padding: 5px 4px;
    padding-left: 0px !important;
    padding: auto 0;
    display: inline-flex !important;
    width: 200px !important;
}
 
.table-compact-row label.ms-Label {
    background: #f7f7f7;
    padding: 8px 12px !important;
    border-bottom: 1px solid #ddddde;
    margin: -5px -4px 0px -4px !important;
    min-width: calc(100% + 8px);
    /* min-height: 39px; */
    text-align: center;
    font-weight: bold;
    background: #f7f7f7;
    padding: 8px 12px !important;
    border-bottom: 1px solid #ddddde;
    margin: -5px -4px 0px -4px !important;
    min-width: calc(100% + 8px);
    /* min-height: 39px; */
    text-align: center;
    width: 100%;
    height: 60px;
    justify-content: center;
}
 
.table-compact-row .ms-TextField {
    margin-bottom: 0px !important;
    /* vertical-align: middle; */
    margin-bottom: 0px !important;
    width: 100%;
}
 
 
.table-compact-row .ms-TextField-fieldGroup {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 10px;
}
 
.table-compact-row .ms-TextField-value {
    white-space: initial;
    word-break: break-word;
    padding: 5px;
}
 
.table-compact-row .ms-Form-Title {
    display: none !important;
}
 
.table-compact-row .ms-EnvisionSerializeForm-wrapper {
    padding: 0px 10px;
    padding-bottom: 8px;
    overflow-x: auto;
}
 
.table-compact-row .ms-EnvisionSerializeForm-rowForm {
    display: flex;
    /* height: 50px; */
}
 
.table-compact-row [data-field-typeasstring="Choice"] input {
    min-width: 100%;
}
 
.table-compact-row input {
    min-width: 10px;
    width: 100%;
    max-width: initial !important;
}
 
.table-compact-row .ms-FormField[data-field-internalname="Hours"] {
    width: 140px !important;
}
 
.table-compact-row .ms-EnvisionSerializeForm-row:nth-of-type(1) .ms-Form-header {
    margin-top: 60px;
}
 
.table-compact-row label.ms-Button.ms-Button--remove {
    height: 43px;
}
 
.table-compact-row .ms-EnvisionSerializeForm-row:nth-of-type(1) .ms-Form-header label.ms-Button.ms-Button--remove {
    height: 43px;
    /* height: 10%; */
    /* width: 10%; */
    /* height: 20px; */
    /* width: 20px !important; */
}
 
.table-compact-row .ms-TextField-state {
    word-break: break-word;
    white-space: normal;
    margin: 5px;
}

/* Cambio a los formularios */

.form-container .ms-FormField{
    min-height: 80px !important;
}

div.list.no-hairlines.no-hairlines-between ul li{
    display: inline-block !important;  
}

li{
    min-width: 45% !important;;
}

.ios .ms-FormField.editable label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox, .ios .checkbox input[type="checkbox"]:checked ~ i{
    background: #8EBD00 !important;
}